flows.json
[{"id":"8fcd1c9a.520a7","type":"tab","label":"Customer Care","disabled":false,"info":""},{"id":"2a4a6a92.6ad226","type":"ui_form","z":"8fcd1c9a.520a7","name":"","label":"","group":"2bee3900.ad00e8","order":1,"width":7,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["81117c49.ab9f9"]]},{"id":"81117c49.ab9f9","type":"function","z":"8fcd1c9a.520a7","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["89c4d60b.2bc1a8","ffd75ef7.39f4"]]},{"id":"d8f2f4e.9b49008","type":"function","z":"8fcd1c9a.520a7","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["b27f70e.439e59"]]},{"id":"89c4d60b.2bc1a8","type":"watson-conversation-v1","z":"8fcd1c9a.520a7","name":"Customer Care","workspaceid":"d8653132-341f-4c2a-9d32-d797f92ae7f6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/aa41a57d-11c9-41cd-9b8a-397ceb83dd8f","timeout":"","optout-learning":false,"x":420,"y":120,"wires":[["72578c09.1627f4","d8f2f4e.9b49008"]]},{"id":"ffd75ef7.39f4","type":"ui_text","z":"8fcd1c9a.520a7","group":"2bee3900.ad00e8","order":2,"width":7,"height":1,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-left","x":400,"y":320,"wires":[]},{"id":"72578c09.1627f4","type":"debug","z":"8fcd1c9a.520a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":100,"wires":[]},{"id":"b27f70e.439e59","type":"ui_text","z":"8fcd1c9a.520a7","group":"2bee3900.ad00e8","order":3,"width":7,"height":"4","name":"","label":"Bot :","format":"{{msg.payload}}","layout":"col-center","x":670,"y":320,"wires":[]},{"id":"2bee3900.ad00e8","type":"ui_group","z":"","name":"Chatbot","tab":"c96a6fca.e532b","order":2,"disp":true,"width":7,"collapse":false},{"id":"c96a6fca.e532b","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","order":1,"disabled":false,"hidden":false}]